nav {
  background: rgb(211, 211, 211);
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid rgb(156, 156, 156);
  text-align: center;
}
ul.menu {
  width: 100%;
}

nav ul li {
  display: inline;
  padding: 0 0.4em;
}

nav ul li a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

navul li a::hover {
  color: rgb(0, 0, 0);
}
